/*линия с выводом показателя сети*/
.signals_PNTgH b:before  	{ border-bottom: 3px solid #4196b7; border-left: 3px solid transparent;}
.line1_TgOVz  	{ background: #00C20E;}
.line2_TgOVz  	{ background: #00C20E; }
.line3_TgOVz  	{ background: #00C20E;}
.line4_TgOVz  	{ background: #00C20E; }
.line4_TgOVz:before  	{border-bottom: 3px solid #808184; border-left: 3px solid transparent;}
/*----------------------------------------------------------------------------------------------------------------*/

/*картинки менюшки - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*общее*/
.phone_tab_hgQVe 	{border-bottom: 1px solid #858383; background: transparent;}
.phone_tab_hgQVe li a 	{background: transparent;}
/*.phone-tabs li a:active 	{background: rgba(transparent,.4);}*/
.phone_tab_hgQVe li a:before 	{ background: #858383; }
.phone_tab_hgQVe li:first-child a:before 	{display: none;}
.phone_tab_hgQVe li.current a:after 	{background: black;}/*полоска под меню*/
/*трубка*/
.phone_BBADc 	{background: #303030;}
.phone_BBADc:before 	{background: #303030;}
.phone_BBADc:after 	{background: #303030;}
/*часы*/
.clock_nfuxA 	{background: transparent; border: 2px solid #303030; }
.clock_nfuxA:before 	{background: #303030;}
.clock_nfuxA:after 	{background: #303030;}
/*контакты*/
.contacts_UlbYl     {background: #303030;}
.contacts_UlbYl:after 	{ background: #303030; border: 2px solid white; }
.contacts_UlbYl:before 	{ background: white; }
/*настройки*/
.wheels_RPdcn   {border: 2px dashed #303030;box-shadow: inset 0 0 0 3px #303030;}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
status_XjGaO
{
    color: black; 
}
txtPhoneNumber_V3wy6{    background: transparent;/*linear-gradient(to top, #77A000, #98C214);
    border-color: #88B10B;
    color: white;*/}
/*кнопка backspace*/
.del_zAnHP 	{color: #303030; background: gray;}
.del_zAnHP:before 	{ border-color: transparent gray transparent transparent; }

/*номеронабиратель - - - - - - - - - - - - - - -*/
.dialer_Stplv  	{color: black;}
.dialer_Stplv span:active 	{background: rgba(104,208,249,.4);}
.dialer_Stplv span em 	{color: black;}
.dialer_Stplv span em.underline:before 	{background: black;}
.dialer_Stplv span em:after 	{background: black;}/*полоски в номеронабираетеле*/
.dialer_Stplv span.fff {color: black;}
/* - - - - - - - - - - - - - - - - - - - - - - -*/

#btnCall
{
    width:90%;
    margin-left: 5%;
    height: 30px;
    cursor: pointer;
}
#btnHangUp
{
    width:90%;
    margin-left: 5%;
    margin-top: 10px;
    height: 30px;
    cursor: pointer;
    color: white;
}
