body
{ 
	background-color: #EEEEEE; 
}

label
{ 
	display: block; 
	padding: 4px; 
	font-weight: bold;
}

label.ctrl
{ 
	display: block; 
	vertical-align: middle;
	font-weight: normal;
}

a
{ 
	color: #729FCF; 
}

div.menu
{
	width: 300px;
	background: #E6E6E6;
	padding: 7px;
	margin-left: auto;
	margin-right: auto;
	-webkit-border-radius: 7px;
	-webkit-box-shadow: 0px 0px 5px #8EC2EB;
}

div.buttons
{
	text-align: center;
}

div.buttons input[type=button]
{
	width: 140px;
}