body {
	font-family: Verdana, Tahoma, Arial;
	font-size: 15px;
	line-height: 1.5em;
}

input {
	font-size: 15px;
}

input.button {
	font-size: 20px;
	height: 25px;
}

#mainWindow {
	background-color: #fff;
	border: 1px solid #888;
	width: 24em;
	height: 32em;
}

#menu {
	background-color: #acc;
	height: 2em;
	overflow: hidden;
}

#menu span {
	margin: 5px;
	cursor: pointer;
}

#menu .selected {
	font-weight: bold;
}

#accountsStatus {
	height: 2em;
	background-color: #eee;
}

#accountsStatus span {
	margin: 3px;
	padding: 2px;
	cursor: pointer;
}

#content {
	height: 26em;
	overflow: auto;
}

#ringer {
	background-color: #eee;
	color: #f00;
	height: 2em;
	overflow: hidden;
	font-weight: bold;
}

#status {
	background-color: #eee;
	color: #888;
	height: 2em;
	overflow: hidden;
}

.calldiv {
	padding: 2px;
	margin: 3px;
	width: 100%;
	float: left;
}

.calldiv span {
	margin: 5px;
}