
.span7
{
    display:table-cell; 
}

.btn-group
{
    position: relative;
    *zoom: 1;
    *margin-left: .3em;
}

.btn-group:before,.btn-group:after
{
    display: table;
    content: "";
}

.btn-group:after
{
    clear: both;
}

.btn-group:first-child
{
    margin-left: 0px;
}

.body_2rJEe
{
    /* background: black;*/
    margin: 0;
    padding: 0;
}

.left_agXbl
{
    float: left;
}

.clear_71tX0
{
    clear: both;
}

.right_oDzPN
{
    float: right;
}

.main_block_cG9Ce
{
    overflow:hidden;
    overflow-y: auto;
    /*  background:#2699FF;*/
    width: 280px;
    height: 500px;
   /* color: #FFFFFE;*/

}



.section_menu_QtM5a
{
    /*нужно обязательно указать ширину и высоту'
    width: 275px;
    height: 50px;   
    border-bottom: 1px solid #919191;*/
}
/*
.section_info_RTDqg
{  
    width: 240px;
    height: 450px;
    padding-left: 10px;
    padding-right: 10px;
}
*/

.table_options_Ibmim
{
    color: white;
    font: normal 12px 'Times New Roman';
}

.txtPhoneNumber_V3wy6
{
    width: 215px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: right;
    font-size: 16px;
}

.KeyPad_CZADm
{
    width: 260px;
    margin-left: 5px;
    margin-right: 5px;
}

.call_logs_time_style_GLaRh
{
    font-size: 10px;
}

.call_logs_table_uZeRF
{
    font-size: 12px;
}

#list_extensions_table tr:hover {
    background: #181818;  /* Цвет фона при наведении */
    color: #fff; /* Цвет текста при наведении */
}

.extensions_row_ulzUj
{
    color: black;
    height: 30px;

    border-bottom: 1px solid #919191;
    margin-bottom: 10px;
}

#list_extensions_table
{
    margin-bottom: 10px;
}

#_update_history
{
    background-image: url(images/update.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.status_XjGaO
{
    text-align: center;
    margin-left: 80px;
    height: 20px;
}

.buttonCall_R3RGt
{
    background-color: #000000;
    border:1px ridge #3D3D3D; 
    width: 60px;
}

.style_k4wRp
{
    width: 260px; 
    color: black;
    text-align: center;
}

.button_img_call_zGOlG
{
    width: 40px; 
    height: 35px;
}
/*отрисовка шариков*/
.circle_offline
{
    display: block;
    background: #FF0000; 
    border-radius: 50%; 
    height: 20px; 
    width: 20px; 
    margin: 0px; 
    background: radial-gradient(6px 10px, circle, #FF0000, #000);
    background: -webkit-radial-gradient(6px 10px, circle, #FF0000, #000);
    background: -moz-radial-gradient(6px 10px, circle, #FF0000, #000);
}

.circle_online
{ 
    display: block; 
    background: #00FF15; 
    border-radius: 50%; 
    height: 20px; 
    width: 20px; 
    margin: 0; 
    background: radial-gradient(6px 10px, circle, #00FF15, #000);
    background: -webkit-radial-gradient(6px 10px, circle, #00FF15, #000);
    background: -moz-radial-gradient(6px 10px, circle, #00FF15, #000);
}

.circle_busy
{ 
    display: block; 
    background: #FFAE00; 
    border-radius: 50%; 
    height: 20px; 
    width: 20px; 
    margin: 0; 
    background: radial-gradient(6px 10px, circle, #FFAE00, #000);
    background: -webkit-radial-gradient(6px 10px, circle, #FFAE00, #000);
    background: -moz-radial-gradient(6px 10px, circle, #FFAE00, #000);
}
/*Трубка на стр "Контакты"*/
.shape_wCBQb
{ 
    background-image:  url(images/phones.gif); 
    background-repeat: no-repeat;
}

.lUshc_img_phone_online
{
    background-position: 0 -60px; width: 30px; height: 29px;
}

.lUshc_img_phone_offline
{
    background-position: 0 -30px; width: 29px; height: 29px;
}

.lUshc_img_phone_busy
{
    background-position: 0 0; width: 29px; height: 29px; 
}
/*конец - Трубка на стр "Контакты"*/
/*статус на стр "История"*/
.statuses_hmDdi
{
    background-image:  url(images/status1_2.gif);
    background-repeat: no-repeat;  
}

.onBs_img_status1
{
    background-position: 0 0; width: 22px; height: 22px;
}

.onBs_img_status2
{
    background-position: 0 -23px; width: 22px; height: 22px; 
}
/*конец - статус на стр "История"*/
/*Изображения меню активные/ не активные
.img_menu_cw16E
{
    height: 50px;
    width: 65px;
    background-image:  url(images/muster_img_menu.gif); 
    background-repeat: no-repeat;  
}

.ojTHw_menu_img1
{
    background-position: 0 0; 
}

.ojTHw_menu_img2
{
    background-position: 0 -51px; 
}

.ojTHw_menu_img3
{
    background-position: 0 -102px;
}

.ojTHw_menu_img4
{
    background-position: 0 -153px;
}

.lnybt_active_menu_img1
{
    background-position: 0 -204px;
}

.lnybt_active_menu_img2
{
    background-position: 0 -255px;
}

.lnybt_active_menu_img3
{
    background-position: 0 -306px;
}

.lnybt_active_menu_img4
{
    background-position: 0 -357px;
}*/
/*конец - Изображения меню активные/ не активные*/


/*стрелка обновить на стр "Журнал"*/
.arrow_KeVNB {
    position: relative;
    width: 18px;
    height: 18px;
    border: 2px solid #FFF; 
    border-right-color: transparent;
    border-radius: 50%;
}

.arrow_KeVNB:before, .arrow_KeVNB:after 
{
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border: 8px solid transparent; 
    border-right: 0;
}

.arrow_KeVNB:after
{
    top: -3px;
    left: 10px;
    border-bottom-color: #FFF;  
    border-top: 0;
    border-right: 0;
}

.circle_fehqe:hover
{
    width: 21px;
    height: 21px;
    border-radius: 50%;
    border: 2px solid #FFF;
    position:relative;
    padding:3px;
}

.arrow_KeVNB:hover{
    -webkit-animation: preloader 3s infinite linear;
    -moz-animation: preloader 3s infinite linear;
    -ms-animation: preloader 3s infinite linear;
    -o-animation: preloader 3s infinite linear;
    animation: preloader 3s infinite linear;
}

@-webkit-keyframes preloader {
    to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes preloader {
    to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes preloader {
    to { -ms-transform: rotate(360deg); }
}

@-o-keyframes preloader {
    to { -o-transform: rotate(360deg); }
}

@keyframes preloader {
    to { transform: rotate(360deg); }
}

.arrow_KeVNB:active, .circle_fehqe:active
{
    background: linear-gradient(to top, #77A000, #98C214);
    cursor:pointer;
}

.update_button_9vu4g
{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 55px;
    left: 235px;
}
/*стрелка обновить на стр "Журнал"*/


/*-----------------------------------*/
/*оформление стр "Настройки"*/
.td_style_EakWI,.lable_tQqtx{
    -webkit-transition:all 0.2s ease;
    display: block;
    box-sizing: border-box;
    padding-left: 15px;
    outline: none;
    height: 36px;
    width: 100%;
    font-size: 1em;
    border: 1px solid darkgray;
    border-radius: 20px;
    background: transparent;
    color: black;
    margin-bottom: 9px;
}


.lable_tQqtx{
    position: relative;
    padding-left: 0;
    border: none;
    margin-top: -45px;

}

.lable_tQqtx:before{
    -webkit-transition:all 0.2s ease;
    display: block;
    margin-left: 10px;
    margin-top: 5px;
    color: darkgray;
    position: absolute;
    font-size: 1em;
    content: attr(data-hold);
    background: #fff;
}
.td_style_EakWI:focus{
    border: 1px solid darkorange;
}
.td_style_EakWI:focus+.lable_tQqtx:before{
    color: white;
    -webkit-transform:translate(5px,-15px) scale(0.8, 0.8);
}
.td_style_EakWI[type="text"]:valid,
.td_style_EakWI[type="password"]:valid{
    border: 1px solid darkgray;/*цвет границы после ввода в поле*/

}
.td_style_EakWI[type="text"]:valid+.lable_tQqtx:before,
.td_style_EakWI[type='password']:valid+.lable_tQqtx:before{
    -webkit-transform:translate(-5px,-15px) scale(0.8, 0.8);
    color: darkgray;/*цвет текста lable после ввода в поле*/
}
/*конец - оформление стр "Настройки"*/
/*-----------------------------------------------------------*/

/*  Nexus 4 Pure CSS Design */
/*  Author : Erhan Basa ( erhanbasa.com )  */
/*  http://erhanbasa.com/blog/css-ile-nexus-4/ */


::selection {background: transparent;}
/*body 		{color: #4196b7; font: normal 12px arial,sans-serif;}*/

.nexus	 	{position: relative; margin: 10px auto; width: 314px; height: 600px; border-radius: 80px / 40px; border-top: 3px solid #222; background: #6d6d6b; background: -moz-linear-gradient(left,  #6d6d6b 0%, #3b3b3c 1%, #979797 3%, #686868 4%, #2e2e2e 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%,#6d6d6b), color-stop(1%,#3b3b3c), color-stop(3%,#979797), color-stop(4%,#686868), color-stop(100%,#2e2e2e)); background: -webkit-linear-gradient(left,  #6d6d6b 0%,#3b3b3c 1%,#979797 3%,#686868 4%,#2e2e2e 100%); background: -o-linear-gradient(left,  #6d6d6b 0%,#3b3b3c 1%,#979797 3%,#686868 4%,#2e2e2e 100%); background: -ms-linear-gradient(left,  #6d6d6b 0%,#3b3b3c 1%,#979797 3%,#686868 4%,#2e2e2e 100%); background: linear-gradient(to right,  #6d6d6b 0%,#3b3b3c 1%,#979797 3%,#686868 4%,#2e2e2e 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d6d6b', endColorstr='#2e2e2e',GradientType=1 );}
.nexus:before 		{position: absolute; content: ''; z-index: -1; top: -6px; left: 0px; background: #babbbb; width: 314px; height: 78px; border-radius: 25% / 45%; border-top: 1px solid #444;}
.nexus:after 		{position: absolute; content: ''; z-index: -1; bottom: -5px; left: 0px; background: #babbbb; width: 314px; height: 78px; border-radius: 25% / 45%; border-bottom: 2px solid #555;}
.speaker 	{position: absolute; left: 0px; top: 0px; width: 65px; height: 5px; background: #333;left: 50%; margin-left: -33px; border-radius: 0 0 6px 6px; border:1px solid #474747; border-top: 0; box-shadow: inset 0 0 1px black;}
.screen 	{position: absolute; left: 17px; top: 64px; width: 282px; height: 467px; background: white;}
/*линия с выводом показателя сети*/
.phone_data_SGTqC span  	{float: right; font-size: 11px; margin: 2px 3px;}

.signals_PNTgH    	{position: relative; height: 12px; margin-right: 10px;}
.signals_PNTgH b  	{float: left; position: absolute; bottom: 0;}
.signals_PNTgH b:before  	{position: absolute; content: ''; top: -3px; width: 0; height: 0;}
.line1_TgOVz  	{width: 3px; height: 0px; left: -8px;}
.line2_TgOVz  	{width: 3px; height: 3px; left: -4px;}
.line3_TgOVz  	{width: 3px; height: 7px; }
.line4_TgOVz  	{width: 3px; height: 11px; left: 4px;}
/*----------------------------------------------------------------------------------------------------------------*/

.phone_tab_hgQVe 	{height: 50px; margin: 0; padding: 0;}
.phone_tab_hgQVe li 	{float: left; list-style: none; -webkit-transition:all .05s ease-in; -moz-transition:all .05s ease-in; -o-transition:all .05s ease-in; transition:all .05s ease-in;}
.phone_tab_hgQVe li a 	{-webkit-transition:all .05s ease-in;  -moz-transition:all .05s ease-in;  -o-transition:all .05s ease-in; transition:all .05s ease-in; text-decoration: none; 
                    cursor:pointer; height: 45px;  width:65px; display: block; text-align: center; position: relative; padding-top: 10px;}
/*.phone-tabs li a:active 	{background: rgba(transparent,.4);}*/
.phone_tab_hgQVe li a:before 	{height: 20px; width: 1px;  position: absolute; content: ''; left: 0; top: 16px;}
.phone_tab_hgQVe li:first-child a:before 	{display: none;}
.phone_tab_hgQVe li.current a:after 	{position: absolute; content: ''; left: 0px; bottom: 0px; width: 100%; height: 5px; }/*полоска под меню*/

.phone-tab-contents  	{width: 100%; height: 365px; position: relative; overflow: hidden;}
.phone-tab-contents .tab 	{width: 100%; height: 365px; position: absolute; background: #3f3f3f; position: absolute; -webkit-transition:all .25s ease-in; -moz-transition:all .25s ease-in; -o-transition:all .25s ease-in; transition:all .25s ease-in;}
.phone-tab-contents .tab.phone 	{left:0; background: #3f3f3f;}
.phone-tab-contents .tab.clock	{left: 282px;}
.phone-tab-contents .tab.peoples{left: 564px;}

.phone-tab-contents.getclock .tab.phone	{left: -282px;}
.phone-tab-contents.getclock .tab.clock	{left: 0px;}
.phone-tab-contents.getclock .tab.peoples	{left: 282px;}

.phone-tab-contents.getpeoples .tab.phone	{left: -564px;}
.phone-tab-contents.getpeoples .tab.clock	{left: -282px;}
.phone-tab-contents.getpeoples .tab.peoples	{left: 0px;}

.phone-tab-contents .tab.clock p:first-child,
.phone-tab-contents .tab.peoples p:first-child {margin-top: 50px;}
.phone-tab-contents .tab.peoples p,
.phone-tab-contents .tab.clock p	{width: 90%; padding: 10px 5% 0; text-align: center; color: #bbb;}
.phone-tab-contents .tab.peoples p a,
.phone-tab-contents .tab.clock p a	{color: #fff;}

.main-btns 	{width: 100%; height: 34px; background: #303030;}
.main-btns li 	{list-style: none; float: left;}
.main-btns li a {width: 30px; display: block; width: 94px; height: 34px; text-align: center;}


.number-area .numbers 	{width: 230px; float: left; padding: 0 10px; height: 14px;}
.delete_lAeQF	{float: right; margin-right: 10px; cursor: pointer; text-align: center;}
/*номеронабиратель - - - - - - - - - - - - - - -*/
.dialer_Stplv  	{overflow: hidden;}
.dialer_Stplv span 	{width: 80px; height: 30px; float: left; font-size: 30px; text-indent: 22px; position: relative; padding: 15px 0; cursor: pointer;}
/*.dialer_Stplv span:active 	{background: rgba(104,208,249,.4);}*/
.dialer_Stplv span em 	{font-size: 12px; color: black; font-style: normal; position: absolute; left: 22px; bottom: 15px; padding-bottom: 5px; }
.dialer_Stplv span em.underline:before 	{position: absolute; width: 14px; height: 2px;  content: ''; top: 12px; left: 24px;}
.dialer_Stplv span em:after 	{width: 35px; height: 2px;  content: ''; position: absolute; top: 16px; left: 22px;}/*полоски в номеронабираетеле*/
.dialer_Stplv span.fff {text-align: center;}
/* - - - - - - - - - - - - - - - - - - - - - - -*/
.call-btn 	{width: 100%; text-align: center; border-top: 1px solid #333; padding-top: 10px;}

/* 	Icon Group 	*/
.icon 	{display: inline-block; font-style: normal; position: relative;}

.phone_BBADc 	{width: 5px; height: 26px; -webkit-transform: rotate(145deg); -moz-transform: rotate(145deg); -o-transform: rotate(145deg); transform: rotate(145deg); border-radius: 0 6px 6px 0; margin-top: 5px;}
.phone_BBADc:before 	{position: absolute; content: ''; width: 8px; height: 9px; left: -6px; bottom: -1px; border-radius: 3px 6px 7px 3px;}
.phone_BBADc:after 	{position: absolute; content: ''; width: 8px; height: 9px; left: -6px; top: -1px; border-radius: 3px 6px 7px 3px;}

.clock_nfuxA 	{ width: 22px; height: 22px; border-radius: 22px; margin-top: 4px;}
.clock_nfuxA:before 	{position: absolute; content: ''; height: 9px; width: 2px; top: 2px; left: 10px;}
.clock_nfuxA:after 	{position: absolute; content: ''; height: 9px; width: 2px; top: 9px; -webkit-transform: rotate(120deg); -o-transform: rotate(120deg); -moz-transform: rotate(120deg); transform: rotate(120deg); left: 14px;}

.contacts_UlbYl 	{ height: 10px; width: 22px; border-radius: 12px 12px 0 0; margin-top: 20px;}
.contacts_UlbYl:after 	{position: absolute; content: '';  width: 14px; height: 14px; border-radius: 18px; top: -14px; left: 2px; z-index: 10;}
.contacts_UlbYl:before 	{position: absolute; content: ''; width: 8px; height: 5px; left: 7px; top: -5px; z-index: 20; border-radius: 0 0 15px 15px;}

.del_zAnHP 	{font-size: 12px; width: 20px; height: 12px;line-height: 9px; margin-top: 9px; margin-left: 5px;}
.del_zAnHP:before 	{position:absolute;content:''; left:-8px; width: 0px; height: 0px; border-style: solid; border-width: 6.5px 8px 6.5px 0; }

.wheels_RPdcn{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 7px 0px 0px 23px;
    cursor: pointer;
}
