Source: kommunikator
Section: web
Priority: extra
Maintainer: Digt Inc <info@digt.ru>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.3
Homepage:

Package: kommunikator
Architecture: all
Depends: yate (>=4.3.0), sox, madplay, libapache2-mod-php5, php5-mysql, php-db, dbconfig-common, mysql-server
Description: Komminikator IP PBX administration web app

Package: kommunikator-doc
Architecture: all
Description: documentation for kommunikator
