body
{ 
	background-color: #EEEEEE; 
}

label
{ 
/*	display: block;  */
	padding: 4px; 
	font-weight: bold;
}

label.ctrl
{ 
/*	display: block; */
	vertical-align: middle;
	font-weight: normal;
}

a
{ 
	color: #729FCF; 
}


div.menu
{
	width: 320px;
	background: #E6E6E6;
	padding: 7px;
	margin-left: auto;
	margin-right: auto;
	-webkit-border-radius: 7px;
	-webkit-box-shadow: 0px 0px 5px #8EC2EB;
}

div.buttons
{
	text-align: center;
}

div.buttons input[type=button]
{
	width: 140px;
}

            span.digt_phone_container * {
                background-image:url("images/numbers_set.gif") !important;
                background-position:0 0 !important;
                width:6px !important;
                background-attachment:scroll !important;
                background-color:transparent !important;
                background-position:0 0 !important;
                background-repeat:no-repeat !important;
                border:0 none #000000 !important;
                border-collapse:separate !important;
                bottom:auto !important;
                clear:none !important;
                clip:auto !important;
                color:#49535A !important;
                cursor:pointer !important;
                direction:ltr !important;
                display:inline !important;
                float:none !important;
                font-family:Tahoma,Arial,Helvetica,sans-serif !important;
                font-size:11px !important;
                font-style:normal !important;
                font-weight:bold !important;
                height:14px !important;
                left:auto !important;
                letter-spacing:0 !important;
                line-height:14px !important;
                list-style:disc outside none !important;
                margin:0 !important;
                overflow:hidden !important;
                padding:0 !important;
                page-break-after:auto !important;
                page-break-before:auto !important;
                page-break-inside:auto !important;
                position:static !important;
                right:auto !important;
                table-layout:auto !important;
                text-align:left !important;
                text-decoration:none !important;
                text-indent:0 !important;
                text-transform:none !important;
                top:auto !important;
                vertical-align:baseline !important;
                voice-family:inherit !important;
                white-space:nowrap !important;
                width:auto !important;
                word-spacing:normal !important;
                z-index:0 !important;
            }

            span.digt_phone_container  span.digt_phone_left_span {
                background-position:0 0 !important;
                width:6px !important;
            }

            span.digt_phone_container span.digt_phone_text_span {
                background-position:-125px 0 !important;
                padding-left:5px !important;
            }

            span.digt_phone_container  span.digt_phone_right_span {
                background-position:-62px 0 !important;
                width:15px !important;
            }
