body {
    margin: 0px;
    padding: 0px;
    background-color: #fff;
    /* background: url("../images/content_background.png") repeat #9e9e9e; */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow: hidden;
}
.blue {
    background-color: #489FD1 !important;
}

.blue-text {
    color: #489FD1 !important;
}

.waves-effect.waves-blue .waves-ripple {
    background-color: rgba(87, 175, 218, 0.7);
}

.orange {
    background-color: #FF7726 !important;
}

.orange-text {
    color: #FF7726 !important;
}

.waves-effect.waves-orange .waves-ripple {
    background-color: rgba(255, 140, 49, 0.7);
}

.grey {
    background-color: #565656 !important;
}

.grey-text {
    color: #565656 !important;
}

.light-grey {
    background-color: #f0f0f0 !important;
}

.light-grey-text {
    color: #f0f0f0 !important;
}
.btn{
    padding: 0 3vw !important;
    background: #5F9FCB !important;
}
.close_icon {
    cursor: pointer;
    float: right;
    margin-right: -3rem;
}

.close_icon img{
    width: 1.5rem;
    height: 1.5rem;
}
#my_alert > div.modal-content > h4{
    color: #4682B4 !important;
}
#my_alert > div.modal-content > p{
    color: #4682B4 !important;
    font-size: 1.2rem !important;
}
#my_alert > div.modal-footer > a{

}
#header{
    margin-bottom: 0;
}

#header_top.row{
    margin-bottom: 0;
}
.header_top {
    /* background: url("../images/body_background.png") repeat #9e9e9e; */
    margin: 0;
}

.header_top_logo_banner {
    max-width: 20vw;
}

.header_top_logo{
    text-align: center;
}
.header_top_logo_title {
    margin: 0 0 2vh 0;
    /* color: #ff832a; */
    /* font-family: "Roboto"; */
    font-size: 1.5rem;
    /* font-weight: 300; */
}
.close_master{
    position: absolute;
    color: #FFFFFF;
    right: 0;
    top: 1vh;
    text-decoration: underline;
    width: 10vw;
    line-height: 2vh;
    text-transform: none;
}
.header_middle{
    text-align: center;
    /*background: #F2F2F2;*/
    padding: 2vh 0 !important;
}

.header_title{
    margin: 0;
    color: #FF7726;
    line-height: 110%;
    font-family: "Roboto";
    font-weight: normal;
    font-size: 2rem;
}

.header_bottom{
    text-align: center;
    background: #FFFFFF;
}

.header_decription{
    margin: 0;
    font-size: 1.5rem;
    font-family: "Roboto";
    font-weight: 300;
    color: #5f9fcb !important;
    list-style-type: disc;
}

#content{
    flex: 1 0 auto;
    display: flex;
    margin-bottom: 1vh;
}

.povider_logo_cont{
    width: 8rem;
    float: left;
    text-align: center;
}
.provider_logo{
    max-height: 2rem;
    max-width: 5rem;
    /*  float: left;*/
}
.currents_icon{
    max-height: 2rem;
    max-width: 2rem;
}
.del_icon{
    /*position: absolute;
    right: 0.2vw;
    margin-top: -0.5vh;*/
}
.img_provider{
    position: relative;	
    float: left;
    line-height: 9rem;
    margin-left: -3.5rem;
}
.width75{
    width: 75%;
}
.img_provider img{
    max-width: 110px;
    max-height: 150px; 
    vertical-align: middle;
}
.edit_form_field{
    float: right;
}
.top_margin{
    margin-top: 1.5vh !important;
}
.red_text{
    color: red;
}
.switch{
    float: left;
    min-width: 75px;
    width: 17%;
}
.logo_speech{
    float: left;
    height: 3rem;
    width: 25%;
}
.sintez_logo{
    margin-top: 3rem !important;
}
.width70{
    width: 70% !important;
    float: right !important;
}
#current_connections {	
    overflow-y: auto;
    height: 50vh;
}
#current_connections > .collection{
    /*padding-right: 1vw !important; */
}
.collection > .collection-item{
    cursor: pointer;
}
.margin_right25{
    margin-right: 25% !important;
}
.collection > .collection-item:hover{
    background-color: #e8e8e8 !important;
}
.collection > .collection-item:hover > span.title{
    color: #5f9fcb !important;
}
.collection > .collection-item:active{
    background-color: #A4A4A4 !important;
}
.collection > .collection-item:active > span.title{
    color: #fff !important;
}
.active_item{
    background-color: #A4A4A4 !important;
}
.active_item > span.title{
    color: #fff !important;
}

.save_conn_btn{
    margin-top: 1.5vh !important;
    padding: 0 5vw !important;
    background: #5F9FCB !important;
}
.collection_with_del{
    border: none !important;
}
.with_del{
    width: 100%;
}
.add_connection_btn{
    background-color: #5F9FCB !important;
}
.click_area{
    width: 60%;
    /*padding: 0 2vw 0 5vw !important;*/
}
.right_cont{
    float: right;
    width: 39%;
    min-width: 425px;
}    
.del_btn{
    display: none !important;
    z-index: 5 !important;
    position: absolute;
    right: 0.3vw;
    margin-top: -1.8rem;
}
.edit_btn_cont{
    width: 49%;
    height: 2.5rem;
    float: right;
    text-align: center;
    min-width: 130px;
}
#current_connections {
    min-width: 700px;
}
.edit_btn_cont a{
    padding: 0;
    /*float: right;*/
}
.switch label input[type=checkbox]:checked + .lever{
    background-color: #6BBD6B !important;
}

.switch label input[type=checkbox]:checked + .lever:after {
    background-color: green !important;
}
#voice_choose{
    overflow-y: auto;
    height: 60vh;
}
.indicator{
    width: 33%;
    min-width: 140px;
    text-align: center;
    float: left;
    color: gray;
    /* padding: 0 1vw; */
    /* position: absolute; */
    /*position: absolute;*/
    /* width: 1.4rem;
     height: 1.4rem;
     background: gray;
     border-radius: 50%;
     left: 5px;
     margin-top: 0.2vh;*/
}
.in_btn_plus{
    font-size: 1.5rem !important;
    font-weight: 600;
    font-family: monospace;    
    padding: 0 0.3vw;
}

.accaunt_uri{
    float: left;
    width: calc(100% - 8rem);
    text-align: center;
    font-size: 1.5rem;
    font-family: "Roboto";
    font-weight: 300;
    color: #5f9fcb !important;
    text-overflow: ellipsis;
    /*clear: both;*/
}

.provider_name{
    font-size: 1.5rem;
    font-family: "Roboto";
    font-weight: 300;
    color: #5f9fcb !important;
    clear: both;
}
.edit_icon{
    float: right;
    margin-top: -0.5vh;
}

.master_form{
    background: #ffffff !important;
    padding: 3vh 5vw !important;
    border: 1px solid #f2f2f2 !important;
}

input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]){
    border-bottom: 1px solid #5F9FCB !important;
    box-shadow: 0 1px 0 0 #5F9FCB !important;
}
input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label{
    color:  #5F9FCB !important;
}
.dropdown-content li > a, .dropdown-content li > span {
    color:  #5F9FCB !important;
}
.speech_play_btn{
    padding: 0 !important;
    margin-top: 2vh !important;
    background: #5F9FCB !important;
}
.page-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    
    background-color: #e8e8e8 !important;
    text-align: center;
    padding: 0 !important;
    /*margin: 0 !important;*/
    color:#5F9FCB !important;
    /*height: 10vh;*/
    /*min-height: 4rem;*/
    /*padding: 0 15vw !important;*/
}

.btn_prev{
    /*color: #FF7726 !important;*/
}

.arrow{
    content: '>' !important;
    font-size: 1.5rem !important;
    font-weight: 600;
    font-family: monospace;    
    padding: 0 0.3vw;
}

.pagination > nav{
    box-shadow: none !important;
    background: none !important;
    color:#5F9FCB !important;
}
.pagination > nav > div > div > a{
    color:#5F9FCB !important;
}
@media screen and (max-width: 1300px) {
    .pagination > nav > div > div > a{
        font-size: 1.3vw !important;
    }
}
@media screen and (max-width: 1110px) {
    .pagination > nav > div > div {
        display: none;
    }
}
#page_4:before{
    display: none !important;
}
.pagination > nav > div > div > a.breadcrumb:before{
    color: #5F9FCB !important;
    content: '>' !important;
    font-size: 1.5rem !important;
    font-weight: 600;
    font-family: monospace;
}
.page-footer .btn_flat:hover{
    background-color: #5F9FCB;
    color: #FFFFFF;
}
.page-footer .btn_flat:active{
    background-color: #5F9FCB;
    color: #FFFFFF;
}
.page-footer .btn{
    background-color: #5F9FCB;
    color: #FFFFFF;
}
.page-footer .btn:hover{
    background-color: #5F9FCB;
    color: #FFFFFF;
}
.page-footer .btn:active{
    background-color: #5F9FCB;
    color: #FFFFFF;
}

.pagination > nav > div{
    margin-bottom: 0 !important;
}
.finish_page{
    width: 100vw !important;
    height: 100vh !important;
    background: url("../images/body_background.png") repeat #9e9e9e;
}
.start_work_btn{
    background-color: #5F9FCB !important;
}

.finish_text{
    font-size: 3.5rem;
    color: #FF7726;
    line-height: 3.5rem;
    font-family: sans-serif;
}