body {
    margin: 0px;
    padding: 0px;
    background-color: #fff;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow: hidden;
}
/* ---------->>> BEGIN GLOBAL <<<---------- */
.btn{
    padding: 0 3vw !important;
    background: #5F9FCB !important;
}

.close_icon{
    background: url(../images/close.png);
    background-size: contain;
    cursor: pointer;
    float: right;
    height: 1.5rem;
    margin-right: -2rem;
    width: 1.5rem;
}
/* ---------->>> END GLOBAL <<<---------- */

/* ---------->>> BEGIN company style <<<---------- */
.digt_title_color{
    color: #2196F3;
}
.digt_descr_color{
    color: #2196F3;
}
/* ---------->>> END company style <<<---------- */

/* ---------->>> BEGIN header <<<---------- */
.header__middle{
    text-align: center;
    padding: 2vh 0;
}

.header__title{
    margin: 0;
    font: normal 2rem "Roboto";
}

.header__btm{
    text-align: center;
    background: #FFFFFF;
}

.header__descr{
    margin: 0;
    font: 300 1.5rem "Roboto";
}
/* ---------->>> END header <<<---------- */

#my_alert > div.modal-content > h4{
    color: #4682B4 !important;
}
#my_alert > div.modal-content > p{
    color: #4682B4 !important;
    font-size: 1.2rem !important;
}
#my_alert > div.modal-footer > a{

}

/* ---------->>> BEGIN content <<<---------- */
.content{
    flex: 1 0 auto;
    display: flex;
    margin-bottom: 64px;
}
/* ---------->>> END content <<<---------- */

/* ---------->>> BEGIN accounts <<<---------- */
.accounts__list{
    border: none;
    overflow-y: auto; 
    height: 50vh;
}

.accounts__btn_block{
     text-align: right;
}

.accounts__btn{
    background-color: #5F9FCB !important;
}

.povider_logo_cont{
    width: 8rem;
    float: left;
    text-align: center;
}

.provider_logo{
    max-height: 2rem;
    max-width: 5rem;
}

.accounts__uri{
    width: calc(100% - 8rem);
    text-align: center;
    font: 300 1.5rem "Roboto";
    color: #5f9fcb !important;
    padding: 0 10px;
}

.switch{
    float: left;
    min-width: 75px;
    width: 17%;
}


/* ---------->>> END accounts <<<---------- */



.img_provider{
    position: relative;	
    /*float: left;*/
    line-height: 9rem;
    margin-left: -2rem;
}
.width75{
    width: 75%;
}
.img_provider img{
    max-width: 110px;
    max-height: 150px; 
    vertical-align: middle;
}

.top_margin{
    margin-top: 1.5vh !important;
}
.red_text{
    color: red;
}


.collection > .collection-item{
    cursor: pointer;
}

.collection > .collection-item:hover{
    background-color: #e8e8e8 !important;
}
.collection > .collection-item:hover > span.title{
    color: #5f9fcb !important;
}
.collection > .collection-item:active{
    background-color: #A4A4A4 !important;
}
.collection > .collection-item:active > span.title{
    color: #fff !important;
}
.active_item{
    background-color: #A4A4A4 !important;
}
.active_item > span.title{
    color: #fff !important;
}

.save_conn_btn{
    margin-top: 1.5vh !important;
    padding: 0 5vw !important;
    background: #5F9FCB !important;
}
/*.collection_with_del{
    border: none !important;
   border: none;
}*/



.edit_btn_cont{
    width: 49%;
    height: 2.5rem;
    float: right;
    text-align: center;
    min-width: 130px;
}
.edit_btn_cont a{
    padding: 0;
}
.switch label input[type=checkbox]:checked + .lever{
    background-color: #6BBD6B !important;
}
.switch label input[type=checkbox]:checked + .lever:after {
    background-color: green !important;
}

.indicator{
    width: 33%;
    min-width: 140px;
    text-align: center;
    float: left;
    color: gray;
    /* padding: 0 1vw; */
    /* position: absolute; */
    /*position: absolute;*/
    /* width: 1.4rem;
     height: 1.4rem;
     background: gray;
     border-radius: 50%;
     left: 5px;
     margin-top: 0.2vh;*/
}


.provider_name{
    font-size: 1.5rem;
    font-family: "Roboto";
    font-weight: 300;
    color: #5f9fcb !important;
    clear: both;
}



input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]){
    border-bottom: 1px solid #5F9FCB !important;
    box-shadow: 0 1px 0 0 #5F9FCB !important;
}
input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label{
    color:  #5F9FCB !important;
}

.page-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
    background-color: #e8e8e8 !important;
    text-align: center;
    padding: 0 !important;
    /*margin: 0 !important;*/
    color:#5F9FCB !important;
    /*height: 10vh;*/
    /*min-height: 4rem;*/
    /*padding: 0 15vw !important;*/
}
.arrow{
    content: '>' !important;
    font-size: 1.5rem !important;
    font-weight: 600;
    font-family: monospace;    
    padding: 0 0.3vw;
}
.pagination > nav{
    box-shadow: none !important;
    background: none !important;
    color:#5F9FCB !important;
}
.pagination > nav > div > div > a{
    color:#5F9FCB !important;
}
@media screen and (max-width: 1300px) {
    .pagination > nav > div > div > a{
        font-size: 1.3vw !important;
    }
}
@media screen and (max-width: 1110px) {
    .pagination > nav > div > div {
        display: none;
    }
}

.pagination > nav > div > div > a.breadcrumb:before{
    color: #5F9FCB !important;
    content: '>' !important;
    font-size: 1.5rem !important;
    font-weight: 600;
    font-family: monospace;
}
.page-footer .btn_flat:hover{
    background-color: #5F9FCB;
    color: #FFFFFF;
}
.page-footer .btn_flat:active{
    background-color: #5F9FCB;
    color: #FFFFFF;
}
.page-footer .btn{
    background-color: #5F9FCB;
    color: #FFFFFF;
}
.page-footer .btn:hover{
    background-color: #5F9FCB;
    color: #FFFFFF;
}
.page-footer .btn:active{
    background-color: #5F9FCB;
    color: #FFFFFF;
}
.pagination > nav > div{
    margin-bottom: 0 !important;
}
.finish_page{
    width: 100vw !important;
    height: 100vh !important;
    background: url("../images/body_background.png") repeat #9e9e9e;
}
.start_work_btn{
    background-color: #5F9FCB !important;
}
.finish_text{
    font-size: 3.5rem;
    color: #FF7726;
    line-height: 3.5rem;
    font-family: sans-serif;
}
.offline_color{
    color: #808080;
}
.online_color{
    color: #008000;
}
.none-status_color{
    color: #FF0000;
}


/* ---------->>>BEGIN providers<<<-----------*/
.providers{
    margin: auto !important;
    width: 70% !important; 
}
/* ---------->>>END providers<<<-----------*/

/* ---------->>>BEGIN editing<<<-----------*/
.editing{
    width: 70% !important; 
    margin: auto !important;
}

.editing__form{
    background: #ffffff !important;
    padding: 3vh 5vw !important;
    border: 1px solid #f2f2f2 !important;
}
/* ---------->>>END editing<<<-----------*/