.box-modal {
    position: relative;
    width: 660px;
    height: 290px;
    padding: 15px;
    background: #fff;
    color: #3c3c3c;
    font: 14px/18px Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    box-shadow: 0 0 0 2px rgba(153, 153, 153, .3);
    border-radius: 0px;
}
.box-modal_close {    
    float:right;
    margin-top:  2px;
    margin-right: 2px;
    border: 2px solid #c2c2c2;
    position: relative;
    padding: 1px 6px;
    background-color: #FFFFFF;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #606060;
    text-decoration: none;
	cursor:pointer;
}

.box-modal_close:hover { color: #666; }
