.box-modal 
{
    padding: 0px 0px 0px 0px;
    position: relative;
    width: 660px;
    height: 290px;
    padding: 15px;
    background: #f6f6f6;
    border: 1px solid #000;
    color: #4c4c4c;
    font: 14px/18px Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .3);
    border-radius: 5px;
}

.box-modal_close 
{ 
    float:right;
    margin-top:  2px;
    margin-right: 2px;
    border: 1px solid #4c4c4c;
    position: relative;
    padding: 1px 6px;
    border-radius: 20px;
    font-size: 11px;
    font-weight: normal;
    color: #4c4c4c;
    text-decoration: none;
    cursor: pointer;
}

.box-modal_close:hover
{
    color: #8a8a8a;
    border-color: #8a8a8a;
}
