.icon-user {
    background-image: url(images/user.png) !important;
}

.icon-user-add {
    background-image: url(images/user_add.gif) !important;
}

.icon-save {
    background-image: url(images/save.gif) !important;
}

.icon-reset {
    background-image: url(images/stop.png) !important;
}

.icon-grid {
    background-image: url(images/grid.png) !important;
}

.icon-add {
    background-image: url(images/add.png) !important;
}

.icon-delete {
    background-image: url(images/delete.png) !important;
}

.icon-advanced {
    background-image: url(images/cog.png) !important;
}

.icon-online {
    background-image: url(images/online.gif) !important;
    background-repeat: no-repeat;
    background-position:center; 
}
.icon-offline {
    background-image: url(images/offline.gif) !important;
    background-repeat: no-repeat;
    background-position:center; 		
}
.icon-busy {
    background-image: url(images/busy.gif) !important;
    background-repeat: no-repeat;
    background-position:center; 
}
.icon-csv {
    background-image: url(images/doc_excel_csv.png) !important;
    background-repeat: no-repeat;
    background-position:center; 
}
